{
	# Remove the below line to disable debug logging, could be helpful
	# but noisy.
	#debug
	email {$LETSENCRYPT_EMAIL}
	# Here we are using the staging server to test our setup
	# but you can remove this line to use the production server
	# when you are ready to go live
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	# If you are testing this locally, in your machine, or if you are
	# not using a domain name yet, you can turn off the Auto HTTPS feature
	# by uncommenting the line below
	#
	# auto_https off
	# admin 0.0.0.0:2019
}

athena-testnet.{$DOMAIN} {
	reverse_proxy {
		to http://athena_chain:8545
	}
}

athena-explorer.{$DOMAIN} {
	reverse_proxy {
		to http://athena_blockscout:{$ATHENA_CHAIN_EXPLORER_PORT}
	}
}

hermes-testnet.{$DOMAIN} {
	reverse_proxy {
		to http://hermes_chain:8545
	}
}

hermes-explorer.{$DOMAIN} {
	reverse_proxy {
		to http://hermes_blockscout:{$HERMES_CHAIN_EXPLORER_PORT}
	}
}

demeter-testnet.{$DOMAIN} {
	reverse_proxy {
		to http://demeter_chain:8545
	}
}

demeter-explorer.{$DOMAIN} {
	reverse_proxy {
		to http://demeter_blockscout:{$DEMETER_CHAIN_EXPLORER_PORT}
	}
}

faucet-backend.{$DOMAIN} {
	reverse_proxy {
		to http://faucet_backend:8000
	}
}
